not_in_git/
nohup.out
*~
#*
*.bak

xilinx/build.log
xilinx/iseconfig/
xilinx/working/
xilinx/AtomFpga_Hoglet_bd.bmm
xilinx/AtomFpga_PapilioOne_bd.bmm
xilinx/AtomFpga_PapilioDuo_bd.bmm
xilinx/AtomFpga_Atom2K18_bd.bmm

altera/db/
altera/incremental_db/
altera/output_files/
altera/AtomFpga_AlteraDE1.qws

roms/tmp/
roms/16K_avr.*
roms/64K_avr.*

src/xilinx/ipcore_dir/WatchEvents.asy
src/xilinx/ipcore_dir/WatchEvents.gise
src/xilinx/ipcore_dir/WatchEvents.ncf
src/xilinx/ipcore_dir/WatchEvents.sym
src/xilinx/ipcore_dir/WatchEvents.vhd
src/xilinx/ipcore_dir/WatchEvents.vho
src/xilinx/ipcore_dir/WatchEvents/
src/xilinx/ipcore_dir/WatchEvents_flist.txt
src/xilinx/ipcore_dir/WatchEvents_xmdf.tcl
src/xilinx/ipcore_dir/_xmsgs/
src/xilinx/ipcore_dir/coregen.cgp
src/xilinx/ipcore_dir/coregen.log
src/xilinx/ipcore_dir/gen_WatchEvents.tcl
src/xilinx/ipcore_dir/tmp/
src/xilinx/ipcore_dir/update_WatchEvents.tcl

src/common/AtomGodilVideo
src/common/AtomGodilVideo/

**/impl/pnr
**/impl/gwsynthesis
**/impl/temp
*.gprj.user
