not_in_git/
nohup.out
*~
#*
*.bak

xilinx/build.log
xilinx/iseconfig/
xilinx/working/
xilinx/AtomFpga_Hoglet_bd.bmm
xilinx/AtomFpga_PapilioOne_bd.bmm
xilinx/AtomFpga_PapilioDuo_bd.bmm
xilinx/AtomFpga_Atom2K18_bd.bmm

altera/db/
altera/incremental_db/
altera/output_files/
altera/AtomFpga_AlteraDE1.qws

roms/tmp/
