# 32MHz main clock domain
NET "clock_32" TNM_NET = clk_period_grp_32;
TIMESPEC TS_clk_period_32 = PERIOD "clk_period_grp_32" 31.25ns HIGH;

# 16MHz main clock domain
NET "clock_16" TNM_NET = clk_period_grp_16;
TIMESPEC TS_clk_period_16 = PERIOD "clk_period_grp_16" 62.50ns HIGH;

# 25.175 VGA clock domain
NET "clock_25" TNM_NET = clk_period_grp_25;
TIMESPEC TS_clk_period_25 = PERIOD "clk_period_grp_25" 39.77ns HIGH;

# Avoid timing warnings for cross domain signals (which are synchronized anyway)
NET "clock_32" TNM_NET = "clk_domain_32";
NET "clock_16" TNM_NET = "clk_domain_16";
NET "clock_25" TNM_NET = "clk_domain_25";

TIMESPEC "TS_CrossDomain_32_16" = FROM "clk_domain_32" TO "clk_domain_16" TIG;
TIMESPEC "TS_CrossDomain_16_32" = FROM "clk_domain_16" TO "clk_domain_32" TIG;
TIMESPEC "TS_CrossDomain_16_25" = FROM "clk_domain_16" TO "clk_domain_25" TIG;
TIMESPEC "TS_CrossDomain_25_16" = FROM "clk_domain_25" TO "clk_domain_16" TIG;

NET "clk_32M00"  LOC = "P89" | IOSTANDARD = LVCMOS33 | PERIOD = 31.25ns;
NET "clk_32M00" CLOCK_DEDICATED_ROUTE = FALSE; 

## RS232
NET "RxD"            LOC = "P88" | IOSTANDARD = LVCMOS33 ;
NET "TxD"            LOC = "P90" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;

NET "red<0>"  LOC = "P2" | IOSTANDARD = LVCMOS33 ; 
NET "red<1>"  LOC = "P3" | IOSTANDARD = LVCMOS33 ;
NET "red<2>"  LOC = "P4" | IOSTANDARD = LVCMOS33 ;
NET "green<0>"  LOC = "P66" | IOSTANDARD = LVCMOS33 ;
NET "green<1>"  LOC = "P63" | IOSTANDARD = LVCMOS33 ;
NET "green<2>"  LOC = "P61" | IOSTANDARD = LVCMOS33 ;
NET "blue<0>"  LOC = "P83" | IOSTANDARD = LVCMOS33 ;
NET "blue<1>"  LOC = "P78" | IOSTANDARD = LVCMOS33 ;
NET "blue<2>"  LOC = "P71" | IOSTANDARD = LVCMOS33 ;
NET "vsync"  LOC = "P94" | IOSTANDARD = LVCMOS33 ; 
NET "hsync"  LOC = "P95" | IOSTANDARD = LVCMOS33 ; 
NET "audiol"  LOC = "P84" | IOSTANDARD = LVCMOS33 ; 
NET "audioR"  LOC = "P86" | IOSTANDARD = LVCMOS33 ; 
NET "ps2_clk"  LOC = "P92" | IOSTANDARD = LVCMOS33 ; 
NET "ps2_data"  LOC = "P91" | IOSTANDARD = LVCMOS33 ; 
NET "ERST"  LOC = "P67" | IOSTANDARD = LVCMOS33 ; 
NET "SDMISO"  LOC = "P5" | IOSTANDARD = LVCMOS33 ; 
NET "SDCLK"   LOC = "P9" | IOSTANDARD = LVCMOS33 ; 
NET "SDMOSI"  LOC = "P10" | IOSTANDARD = LVCMOS33 ; 
NET "SDSS"    LOC = "P11" | IOSTANDARD = LVCMOS33 ; 
NET "ps2_mouse_data" LOC = "P70" | IOSTANDARD = LVCMOS33 ;
NET "ps2_mouse_clk"  LOC = "P79" | IOSTANDARD = LVCMOS33 ;
NET "LED1"           LOC = "P57" | IOSTANDARD = LVCMOS33 ;
NET "LED2"           LOC = "P53" | IOSTANDARD = LVCMOS33 ;
NET "LED3"           LOC = "P40" | IOSTANDARD = LVCMOS33 ;
NET "LED4"           LOC = "P35" | IOSTANDARD = LVCMOS33 ;
