NET "clk_32M00"  LOC = "P89" | IOSTANDARD = LVCMOS33 | PERIOD = 31.25ns;
NET "clk_32M00" CLOCK_DEDICATED_ROUTE = FALSE; 

NET "red<0>"  LOC = "P2" | IOSTANDARD = LVCMOS33 ; 
NET "red<1>"  LOC = "P3" | IOSTANDARD = LVCMOS33 ;
NET "red<2>"  LOC = "P4" | IOSTANDARD = LVCMOS33 ;
NET "green<0>"  LOC = "P66" | IOSTANDARD = LVCMOS33 ;
NET "green<1>"  LOC = "P63" | IOSTANDARD = LVCMOS33 ;
NET "green<2>"  LOC = "P61" | IOSTANDARD = LVCMOS33 ;
NET "blue<0>"  LOC = "P83" | IOSTANDARD = LVCMOS33 ;
NET "blue<1>"  LOC = "P78" | IOSTANDARD = LVCMOS33 ;
NET "blue<2>"  LOC = "P71" | IOSTANDARD = LVCMOS33 ;
NET "vsync"  LOC = "P94" | IOSTANDARD = LVCMOS33 ; 
NET "hsync"  LOC = "P95" | IOSTANDARD = LVCMOS33 ; 
NET "audiol"  LOC = "P84" | IOSTANDARD = LVCMOS33 ; 
NET "audioR"  LOC = "P86" | IOSTANDARD = LVCMOS33 ; 
NET "ps2_clk"  LOC = "P92" | IOSTANDARD = LVCMOS33 ; 
NET "ps2_data"  LOC = "P91" | IOSTANDARD = LVCMOS33 ; 
NET "ERST"  LOC = "P67" | IOSTANDARD = LVCMOS33 ; 
NET "SDMISO"  LOC = "P5" | IOSTANDARD = LVCMOS33 ; 
NET "SDCLK"   LOC = "P9" | IOSTANDARD = LVCMOS33 ; 
NET "SDMOSI"  LOC = "P10" | IOSTANDARD = LVCMOS33 ; 
NET "SDSS"    LOC = "P11" | IOSTANDARD = LVCMOS33 ; 
