NET "ERSTn"  LOC = "P78" | IOSTANDARD = LVCMOS33 ; 
NET "clk_25MHz"  LOC = "P83" | IOSTANDARD = LVCMOS33 ;
NET "ps2_clk"  LOC = "P59" | IOSTANDARD = LVCMOS33 ; 
NET "ps2_data"  LOC = "P60" | IOSTANDARD = LVCMOS33 ; 
NET "red<0>"  LOC = "P15" | IOSTANDARD = LVCMOS33 ; 
NET "red<1>"  LOC = "P16" | IOSTANDARD = LVCMOS33 ;
NET "red<2>"  LOC = "P19" | IOSTANDARD = LVCMOS33 ;
NET "green<0>"  LOC = "P13" | IOSTANDARD = LVCMOS33 ;
NET "green<1>"  LOC = "P12" | IOSTANDARD = LVCMOS33 ;
NET "green<2>"  LOC = "P10" | IOSTANDARD = LVCMOS33 ;
NET "blue<0>"  LOC = "P9" | IOSTANDARD = LVCMOS33 ;
NET "blue<1>"  LOC = "P6" | IOSTANDARD = LVCMOS33 ;
NET "blue<2>"  LOC = "P5" | IOSTANDARD = LVCMOS33 ;
NET "vsync"  LOC = "P3" | IOSTANDARD = LVCMOS33 ; 
NET "hsync"  LOC = "P4" | IOSTANDARD = LVCMOS33 ; 
NET "audiol"  LOC = "P99" | IOSTANDARD = LVCMOS33 ; 
NET "audioR"  LOC = "P98" | IOSTANDARD = LVCMOS33 ; 
NET "CE1"  LOC = "P50" | IOSTANDARD = LVCMOS33 ; 
NET "RAMWRn"  LOC = "P64" | IOSTANDARD = LVCMOS33 ; 
NET "RAMOEn"  LOC = "P20" | IOSTANDARD = LVCMOS33 ;
NET "RamA<0>"  LOC = "P52" | IOSTANDARD = LVCMOS33 ;  
NET "RamA<1>"  LOC = "P56" | IOSTANDARD = LVCMOS33 ; 
NET "RamA<2>"  LOC = "P57" | IOSTANDARD = LVCMOS33 ; 
NET "RamA<3>"  LOC = "P61" | IOSTANDARD = LVCMOS33 ; 
NET "RamA<4>"  LOC = "P62" | IOSTANDARD = LVCMOS33 ; 
NET "RamA<5>"  LOC = "P65" | IOSTANDARD = LVCMOS33 ; 
NET "RamA<6>"  LOC = "P70" | IOSTANDARD = LVCMOS33 ; 
NET "RamA<7>"  LOC = "P71" | IOSTANDARD = LVCMOS33 ; 
NET "RamA<8>"  LOC = "P72" | IOSTANDARD = LVCMOS33 ; 
NET "RamA<9>"  LOC = "P73" | IOSTANDARD = LVCMOS33 ; 
NET "RamA<10>"  LOC = "P77" | IOSTANDARD = LVCMOS33 ; 
NET "RamA<11>"  LOC = "P90" | IOSTANDARD = LVCMOS33 ; 
NET "RamA<12>"  LOC = "P93" | IOSTANDARD = LVCMOS33 ; 
NET "RamA<13>"  LOC = "P94" | IOSTANDARD = LVCMOS33 ; 
NET "RamA<14>"  LOC = "P25" | IOSTANDARD = LVCMOS33 ;
NET "RamA<15>"  LOC = "P89" | IOSTANDARD = LVCMOS33 ;
NET "RamD<0>"  LOC = "P28" | IOSTANDARD = LVCMOS33 ; 
NET "RamD<1>"  LOC = "P29" | IOSTANDARD = LVCMOS33 ; 
NET "RamD<2>"  LOC = "P30" | IOSTANDARD = LVCMOS33 ; 
NET "RamD<3>"  LOC = "P31" | IOSTANDARD = LVCMOS33 ; 
NET "RamD<4>"  LOC = "P32" | IOSTANDARD = LVCMOS33 ; 
NET "RamD<5>"  LOC = "P33" | IOSTANDARD = LVCMOS33 ; 
NET "RamD<6>"  LOC = "P34" | IOSTANDARD = LVCMOS33 ; 
NET "RamD<7>"  LOC = "P35" | IOSTANDARD = LVCMOS33 ; 
NET "RamD<8>"  LOC = "P36" | IOSTANDARD = LVCMOS33 ; 
NET "RamD<9>"  LOC = "P37" | IOSTANDARD = LVCMOS33 ; 
NET "RamD<10>"  LOC = "P40" | IOSTANDARD = LVCMOS33 ; 
NET "RamD<11>"  LOC = "P41" | IOSTANDARD = LVCMOS33 ; 
NET "RamD<12>"  LOC = "P43" | IOSTANDARD = LVCMOS33 ; 
NET "RamD<13>"  LOC = "P44" | IOSTANDARD = LVCMOS33 ; 
NET "RamD<14>"  LOC = "P48" | IOSTANDARD = LVCMOS33 ; 
NET "RamD<15>"  LOC = "P49" | IOSTANDARD = LVCMOS33 ;
NET "SDMISO"  LOC = "P86" | IOSTANDARD = LVCMOS33 ; 
NET "SDSS"    LOC = "P88" | IOSTANDARD = LVCMOS33 ; 
NET "SDCLK"   LOC = "P84" | IOSTANDARD = LVCMOS33 ; 
NET "SDMOSI"  LOC = "P85" | IOSTANDARD = LVCMOS33 ; 
NET "clk_25MHz" CLOCK_DEDICATED_ROUTE = FALSE; 
PIN "pll2/DCM_INST/DCM_SP.CLKIN" CLOCK_DEDICATED_ROUTE = FALSE;
